body 
{
    background-color: whitesmoke;
}

.changeColor
{
    background-color: #555555;
    color: #fff;
    border: 2px solid black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin: 40vh 90vh;
}

